<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Cadastrar POC's</p>
  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Codigo da Oportunidade">
  
  
  <label>Arquiteto</label>
  <select class="browser-default custom-select mb-4">
    <option *ngFor="let option of selectOptions" [value]="option.nome">{{option.nome}}</option>
  </select>

  <label>Sales Consultant</label>
  <select class="browser-default custom-select mb-4">
    <option *ngFor="let option of selectOptions" [value]="option.nome">{{option.nome}}</option>
  </select>
  <div class="form-group">
    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Descricao"></textarea>
  </div>
  <button class="btn btn-info btn-block" type="submit">Cadastrar POC</button>
</form>